p {
    font-size: 2.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;

}

#field-function {
    width: 300px;
}


.input {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 800px;
}

#input_0 {
    width: 715px;
}



mat-form-field {
    margin: 2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: white
}

.content {
    height: 100%;
    width: 100%;  
    height: auto; 
    overflow: hidden;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-inputs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #F0F0F0;
    width: 800px;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.restrition-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    all: unset;
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: #f0f0f0; 
    background-color: #222222; 
    padding: 0.2rem 0.5rem;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
}

#add-button {
    background-color: #4A90E2;
}

#delete-button {
    background-color: #D44D4D; 
}

#submit-button {
    color: black;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#submit-button:hover, .op-button:hover {
    background-color: #4A90E2; 
    color: #f0f0f0; 
    transform: translateY(-2px);
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result {
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.result h2, .result h3 {
    margin: 1rem;
}

@media screen and (max-width: 800px) {
    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-left: 2rem;
    }

    #input_0 {
        margin-left: 0;
    }

    #input_1 {
        margin-right: 2.8rem;
    }

    mat-form-field {
        margin: 0rem;
        width: 65px;
    }

    button {
        margin: 0.2rem;
    }
}