<div class="content">
    <div class="title">
      <p>Calculadora - Problemas de Otimização com 2 variáveis </p>
    </div>
    <div class="inputs">
      <form [formGroup]="restritionsForm">
        <div class = "content-inputs">
            <div class = "restrition-inputs">
                @for (restrition of restritions; track restrition; let i = $index){
                  @if (i == 0){
                    <h2>Função para otimização:</h2>
                  } @else if (i == 1){
                    <h2> Restrições: </h2>
                  }
                    <div class = "input" [id]="'input_' + i">
                        <mat-form-field class = "field-coef" appearance="outline">
                            <mat-label>X</mat-label>
                            <input type="number" placeholder="0" matInput [formControlName]="'x_' + i">
                          </mat-form-field>

                          <button class = "op-button" mat-button [matMenuTriggerFor]="menuOp1">
                            {{ restritionsForm.get('op1Coef_' + i)?.value }}
                          </button> 
                          <mat-menu #menuOp1="matMenu">
                            <button mat-menu-item (click)="setOp1Coef(i, '+')">+</button>
                            <button mat-menu-item (click)="setOp1Coef(i, '-')">-</button>
                          </mat-menu>

                          <mat-form-field class = "field-coef" appearance="outline">
                          <mat-label>Y</mat-label>
                          <input type="number" matInput placeholder="0" [formControlName]="'y_' + i">
                          </mat-form-field>

                          @if(i == 0){
                            <button class = "op-button" mat-button [matMenuTriggerFor]="menuOp2">
                              {{ restritionsForm.get('op2Coef_' + i)?.value }}
                            </button> 
                            <mat-menu #menuOp2="matMenu">
                              <button mat-menu-item (click)="setOp2Coef(i, '+')">+</button>
                              <button mat-menu-item (click)="setOp2Coef(i, '-')">-</button>
                            </mat-menu>
                          } @else {
                            <button class = "op-button" mat-button [matMenuTriggerFor]="menuOp2">
                              {{ restritionsForm.get('op2Coef_' + i)?.value }}
                            </button> 
                            <mat-menu #menuOp2="matMenu">
                              <button mat-menu-item (click)="setOp2Coef(i, '=')">=</button>
                              <button mat-menu-item (click)="setOp2Coef(i, '>')">></button>
                              <button mat-menu-item (click)="setOp2Coef(i, '<')"><</button>
                              <button mat-menu-item (click)="setOp2Coef(i, '<=')"><=</button>
                              <button mat-menu-item (click)="setOp2Coef(i, '>=')">>=</button>
                            </mat-menu>
                          }
                            
                          <mat-form-field class = "field-coef" appearance="outline">
                            <mat-label>C</mat-label>
                            <input type="number" matInput placeholder="0" [formControlName]="'const_' + i">
                            </mat-form-field>
                            
                        @if (i > 0){
                          <button id = "add-button" mat-icon-button (click)="addRestrition()">
                            <mat-icon>add</mat-icon> 
                          </button>
                        }
                        
                        @if(i > 1){
                            <button id = "delete-button" mat-icon-button (click)="removeRestrition(i)">
                                <mat-icon>delete</mat-icon> 
                            </button>
                        }
                    </div>
                    
                }
            </div>

        </div>
      </form>
      <button id = "submit-button" type="button" (click)="onSubmit()">Calcular</button>
    </div>
    <div class = "plotly-graph">
      <app-plotly [points]="points" [intersections]="intersections" [axisRange]="axisRange" class="graph"></app-plotly>
    </div>
    <div class = "results">
      <button id = "see-results-button" type="button" (click)="openResultsModal()">Ver Detalhes</button>
      <div class = "result">
        @if(maxResult != -1){
          <h2>Resultado maximização:</h2>
          <h3>Maior valor: {{ maxResult === -2 ? 'Infinito' : maxResult }} </h3>
          <h3>Encontrado para: x = {{maxResultX === -2? 'Infinito': maxResultX}}, y = {{maxResultY === -2? 'Infinito': maxResultY}} </h3>
        } @else {
          <h2>Não foram encontrados resultados para maximização</h2>
        }
      </div>

      <div class = "result">
        @if(minResult != -1){
          <h2>Resultado minimização:</h2>
          <h3>Menor valor: {{minResult}}</h3>
          <h3>Encontrado para: x = {{minResultX}}, y = {{minResultY}} </h3>
        } @else {
          <h2>Não foram encontrados resultados para minimização</h2>
        }
      </div>
    </div>
    
  </div>
  